/*Cabeçalho*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 30px 15px 0px;
    background-color: #ffffff;
    box-shadow: 0 6px 20px #0129701a;
    box-sizing: border-box;
    z-index: 10;
}

.logos {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: -20px;
}

#logo-produto {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 20px;

}

.dados-usuario {
    font-size: 14px;
    margin-left: 10px;
}

#usuario {
    margin-top: -12px;
}


.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.nav a:hover {
    color: #0d6efd;
}

.pesquisa {
    display: flex;
    gap: 5px;
    flex: 1;
    max-width: 400px;
}

.pesquisa input {
    height: 35px;
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.pesquisa button {
    width: 80px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

/*Body*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/*Index*/
.principal {

    margin: 0;
}

.banner {
    background-image: url("../imagens/index/BANNER.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1200px;
    height: 380px;
    margin: -30px auto 10px auto;
    position: relative;

}

.botoes-banner {
    position: absolute;
    bottom: 40px;
    left: 140px;
    display: flex;
    gap: 15px;
    z-index: 2;
}

.botoes-banner a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2e9464;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #157347;
}

.botoes-banner a:hover {
    background-color: #157347;
}

/*Produtos*/
.lista-anuncios {
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.anuncio {
    width: 100%;
    max-width: 270px;
    min-height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0000001a;
}


.anuncio p {
    font-size: 12px;
    padding: 0;
}

.anuncio img {
    width: 150px;
    padding: 0;

}

.anuncio button {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #198754;
    color: #ffffff;
    cursor: pointer;
}

.anuncio span {
    margin-bottom: 10px;
}

.anuncio button:hover {
    background-color: #157347;
}

/*Rodapé*/
footer {
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.redes-sociais {
    position: absolute;
    display: flex;
    left: 20px;
    align-items: center;
    gap: 10px;
}

.redes-sociais img {
    width: 28px;
    height: 28px;

}

.redes-sociais img:hover {
    transform: scale(1.15);
}

/*Contato*/
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.formulario {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px #00000026;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
}

.formulario label {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;

}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 11px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

.formulario textarea {
    resize: vertical;
}

input.botao-enviar {
    margin-top: 10px;
    padding: 12px;
    width: 100%;
    background-color: #198754;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

input.botao-enviar:hover {
    background-color: #157347;
}

/*Contato-sucesso*/
.envio {
    box-sizing: border-box;
    width: 350px;
    min-height: 250px;
    margin: 100px auto;
    padding: 30px;
    background-color: #6acf5d;
    border: 1px solid #dee97a;
    border-radius: 12px;
    box-shadow: 0 25px 30px #00000026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.envio h1 {
    font-size: 24px;
}

.envio p {
    font-weight: bold;
}

.envio a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #e5e91d;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.envio a:hover {
    background-color: #113a15;
    color: #ffffff;
}

/* Carrinho */
.pagina-carrinho {
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
}

.pagina-carrinho h1 {
    text-align: center;
    margin-bottom: 30px;
}

.layout-carrinho {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.itens-carrinho,
.resumo,
.endereco {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 12px #0000001f;
}

.itens-carrinho h2 {
    text-align: center;

}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.info-item {
    flex: 1;
}

.info-item h3 {
    margin: 0;
    font-size: 17px;
}


.info-item span {
    font-weight: bold;
    color: #000000;
}

.qtd {
    text-align: center;
}

.qtd input {
    width: 55px;
    padding: 6px;
    text-align: center;
}

.voltar-produtos {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.voltar-produtos:hover {
    color: #0d6efd;
}

.resumo h3 {
    color: #000000;
    margin: 15px 0;
}

.botao-finalizar {
    display: block;
    text-align: center;
    background-color: #198754;
    color: #ffffff;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
}

.botao-finalizar:hover {
    background-color: #157347;
}

.endereco {
    margin-top: 25px;
}

.endereco p {
    margin: 8px 0;
}

/* Sucesso pedido */
.sucesso-pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.icone-sucesso {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #198754;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sucesso-pedido h1 {
    margin: 0 0 15px;
    color: #198754;
    font-size: 32px;
}

.mensagem-sucesso {
    font-size: 20px;
    margin: 5px 0;
}

.sucesso-pedido > p {
    margin: 8px 0;
    color: #555;
}

.dados-pedido {
    width: 100%;
    max-width: 450px;
    margin: 25px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

.dados-pedido p {
    margin: 10px 0;
    font-size: 17px;
}

#numero-pedido {
    color: #0d6efd;
    font-weight: bold;
}

.botoes-sucesso {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-voltar,
.btn-pedido {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar {
    background-color: #198754;
    color: #ffffff;
}

.btn-voltar:hover {
    background-color: #157347;
}

.btn-pedido {
    background-color: #6c757d;
    color: white;
}

.btn-pedido:hover {
    background-color: #5c636a;
}


/*tela Mobile*/
@media (max-width: 900px) {

    .botoes-banner {
        left: 50px;
        bottom: 65px;
        gap: 10px;
    }

    .botoes-banner a {
        padding: 8px 11px;
        font-size: 13px;
    }

}

@media (max-width: 768px) {

    .layout-carrinho {
        grid-template-columns: 1fr;
    }

    .item {
        flex-direction: column;
        text-align: center;
    }

    .botoes-banner {
        left: 43px;
        bottom: 95px;
        gap: 10px;
    }

    .botoes-banner a {
        padding: 6px 12px;
        font-size: 11px;
    }

}

@media (max-width: 600px) {

    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    #logo-produto {
        margin-left: 0;
    }

    .dados-usuario {
        margin-left: 5px;
    }

    .pesquisa {
        width: 100%;
        max-width: 400px;
    }

    .nav {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .botoes-banner {
        left: 35px;
        bottom: 100px;
        gap: 10px;
    }

    .botoes-banner a {
        padding: 6px 12px;
        font-size: 11px;
    }

    footer {
        gap: 10px;
        text-align: center;
    }

    .redes-sociais {
        left: 15px;
        gap: 8px;
    }

    .redes-sociais img {
        width: 26px;
        height: 26px;

    }

    .sucesso-pedido {
        padding: 30px 15px;
    }

    .sucesso-pedido h1 {
        font-size: 25px;
    }

    .mensagem-sucesso {
        font-size: 18px;
    }

    .icone-sucesso {
        width: 70px;
        height: 70px;
        font-size: 42px;
    }

    .botoes-sucesso {
        width: 100%;
    }

    .btn-voltar,
    .btn-pedido {
        width: 100%;
        max-width: 300px;
        text-align: center;
        box-sizing: border-box;
    }
}

@media (max-width: 440px) {

    .botoes-banner {
        left: 23px;
        bottom: 125px;
        gap: 6px;
    }

    .botoes-banner a {
        padding: 5px 9px;
        font-size: 6px;
    }

    footer {
        display: flex;
        gap: 5px;
        text-align: center;
        flex-wrap: wrap;
    }

    footer p {
        font-size: 12px;
    }

    .redes-sociais {
        left: 17px;
        gap: 8px;
    }

    .redes-sociais img {
        width: 24px;
        height: 24px;

    }

}

@media (max-width: 360px) {

    .botoes-banner {
        left: 17px;
        bottom: 135px;
        gap: 6px;
    }

    .botoes-banner a {
        padding: 5px 9px;
        font-size: 6px;
    }

    footer p {
        font-size: 10px;
    }


    .redes-sociais img {
        width: 22px;
        height: 22px;

    }

}